
noscript
   | For full functionality of this site it is necessary to enable JavaScript.
   | Here are the 
   a(href="http://www.enable-javascript.com/", target="_blank") instructions
   |  how to enable JavaScript in your web browser.

div.footer.center
   hr
   p(style="text-align: center")
    | Powered by 
    a(href="https://github.com/xbgmsharp/yapdnsui/", target="_blank") yaPDNSui 
    |, &copy; Francois Lacroix, Copyright 2014-2015 Julmay.
   p(style="text-align: center")
    | Designed, build and made in London with all the love.

// Placed at the end of the document so the pages load faster
script(src='/jquery/dist/jquery.min.js')
script(src='/jqueryui/jquery-ui.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
