extends layout

block content
  div.container
    div.jumbotron
      h1= settings.title
      p #{settings.package.description}
      p Version #{settings.package.version}
      p
       a.btn.btn-primary.btn-large(href="https://github.com/xbgmsharp/yapdnsui") Documentation on GitHub
  div.container
    div.jumbotron
      h2 License
      p
      | Copyright &copy; 2014 Francois Lacroix. All Rights Reserved.
      br
      | This program is free software; you can redistribute it and/or modify it under the terms of the 
      a(href="http://www.gnu.org/licenses/gpl.html") GNU General Public License 
      | as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  div.container
    div.jumbotron
      h2 Notes
      p
      | #{settings.title} is in alpha stage as weel as the PowerDNS API and might break your zones, your server, your marriage, whatever.
      p
      | This is built using 
      a(href="http://nodejs.org") NodeJS 
      | and 
      a(href="http://expressjs.com") Express
      p
      | yaPDNSui powered by 
      a(href="http://nodejs.org") NodeJS 
      | - Layout and CSS from 
      a(href="http://twitter.github.com") Twitter Bootstrap 
      | - Favicon from 
      a(href="http://glyphicons.com/") glyphicons.com 
      | - Apple touch icon from 
      a(href="http://findicons.com/search/leaf") Findicons 

  include inc/footer
