extends layout

block content
  div.container
     // Page header
    .page-header
        h2
          | Servers
    div
     form.form.form-inline#formAddServer(name="addserver", method="post", action="/servers/add", role="form")
       div.form-group
         label.col-lg-2.control-label URL:
         div.col-lg-4
            input.form-control#inputUserName(type="url", placeholder="http://localhost:8053", name="url")
       div.form-group
         label.col-lg-2.control-label URL:
         div.col-lg-4
            input.form-control#inputUserEmail(type="text", placeholder="changeme", name="password")
       button.btn.btn-default#btnSubmit(type="submit") submit
    p
    div.list-group
      - if (serverlist)
       each item in serverlist
          - if (serverselected && serverselected.name == item.name)
            a.list-group-item.active(href="/servers/#{item.id}")= item.name
              h4.list-group-item-text= item.url
                 span.glyphicon.glyphicon-ok
          - else            
            a.list-group-item(href="/servers/#{item.id}")= item.name
              h4.list-group-item-heading= item.url
  include inc/footer
