extends layout

block content
  div.container-fluid
  // Page header
  .page-header
        h2
          | Graph
  div.content
        div.graph_tcp(id="graph_cachehitrate")

  include inc/footer

  // Highcharts Libraries
  script(src='/highcharts-release/highcharts.js')
  script(src='/highcharts-release/modules/data.js')
  script(src='/highcharts-release/modules/exporting.js')
  // My Library
  script(src='/javascripts/ui_graph.js')
