extends layout

block content
  div.container
    div.content
      fieldset
        legend Graph
        div.graph_queries(id="graph_queries")
        div.graph_resp_answers(id="graph_resp_answers")
        div.graph_answers(id="graph_answers")
        div.graph_tcp(id="graph_tcp")
        div.graph_tcp(id="graph_cachehitrate")

  include inc/footer

  // Highcharts Libraries
  script(src='/Highcharts/js/highcharts.js')
  script(src='/Highcharts/js/modules/data.js')
  script(src='/Highcharts/js/modules/exporting.js')
  // My Library
  script(src='/javascripts/ui_graph_adv.js')
