body {
  margin-top:70px;
  padding: 50px;
}

a {
  color: #00B7FF;
}

.noscript {
  font-size: 25px;
  background-color: red;
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 50%;
}

.home-bkg {
  font-family: "Andika";
  background-image: url("../images/dns.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -100px;
  padding: 180px;
  text-align: center;
}

/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

/* Layout thanks to pdnsui
-------------------------------------------------- */

.table-condensed td {
  padding:0 !important;
  /*font-size: 20px !important;*/
}

.page-header a {
  color:#333 !important;
}

.navbar a {
  color:#999;
}

#messenger {
  padding:4px 35px 4px 14px;
  position:absolute;
  width:900px;
  margin-top:-20px;
  height:20px;
}

/* Domains/Index */

.page-header {
  margin:10px 0 15px !important;
}

.table th a {
  color:#333 !important;
}

.mod-edit-type .help-block {
  margin-left:19px !important;
}

.mod-edit-type input {
  margin-top:-2px !important;
  margin-right:3px !important;
}

/* Domains/Records */

#servers-table td.servers-value-action {
  text-align:right !important;
}

#domains-table td.domains-value-action {
  text-align: right !important;
}

#records-table td.records-value-action {
  text-align:right !important;
}

/* Form Validation */
#form-add-domain .form-control-feedback {
  right: 10px !important;
  top: 25px !important;
}

#form-add-record .form-control-feedback {
  right: 10px !important;
  top: 25px !important;
}

