body {
  margin-top:70px;
  padding: 50px;
}

a {
  color: #00B7FF;
}

.noscript {
  font-size: 25px;
  background-color: red;
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 50%;
}

/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

/* Layout thanks to pdnsui
-------------------------------------------------- */

.table-condensed td {
  padding:0 !important;
  font-size: 20px !important;
}

.page-header a {
  color:#333 !important;
}

.navbar a {
  color:#999;
}

#messenger {
  padding:4px 35px 4px 14px;
  position:absolute;
  width:900px;
  margin-top:-20px;
  height:20px;
}

/* Domains/Index
 * ------------------------- */

.page-header {
  margin:10px 0 15px !important;
}

.table th a {
  color:#333 !important;
}

.mod-edit-type .help-block {
  margin-left:19px !important;
}

.mod-edit-type input {
  margin-top:-2px !important;
  margin-right:3px !important;
}

/* Domains/Records
 * ------------------------- */

.records-form td {
  border-bottom:1px solid #999 !important;
  border-top:0 !important;
}

.records-form button,
.records-form input,
.records-form select {
  margin:4px !important;
}

.records-form button {
  min-width:110px !important;
}

td.records-value-name,
td.records-value-type,
td.records-value-prio,
td.records-value-content,
td.records-value-ttl,
td.records-value-disabled,
td.records-value-action {
  vertical-align:middle !important;
}

td.records-input-ttl input,
td.records-input-prio input,
td.records-input-action,
td.records-value-ttl,
td.records-value-prio,
td.records-value-disabled,
td.records-value-action {
  text-align:right !important;
}

td.records-value-action {
  margin-left:10px !important;
}

td.records-value-prio {
  padding-right:8px !important;
}

th.records-head-ttl,
th.records-head-disabled,
th.records-head-prio {
  padding-right:15px !important;
  text-align:right !important;
}

#mod-edit-recordreset,
#mod-edit-recordsubmit {
  min-width:60px !important;
  padding:4px !important;
  margin:4px 0 !important;
}


/* Name */
th.records-head-name,
td.records-input-name,
td.records-input-name input,
td.records-value-name {
  width:260px !important;
}

.records-input-name input {
  margin-left:0px !important;
}


/* Type */
th.records-head-type,
td.records-input-type,
td.records-input-type select,
td.records-value-type {
  width:100px !important;
}

td.records-value-type {
  padding-left:10px !important;
}


/* Priority */
th.records-head-prio,
td.records-input-prio,
td.records-input-prio input,
td.records-value-prio {
  width:40px !important;
}

/* Content */
td.records-value-content {
  padding-left:10px !important;
}

@media (min-width: 1200px) {
    th.records-head-content,
    td.records-input-content,
    td.records-input-content input,
    td.records-value-content {
      width:520px !important;
    }
}

@media (min-width: 940px) and (max-width: 1199px) {
    th.records-head-content,
    td.records-input-content,
    td.records-input-content input,
    td.records-value-content {
      max-width:370px !important;
      min-width:200px !important;
    }
}


td.records-value-content-soa {
  padding-bottom:4px !important;
}


/* TTL */
th.records-head-ttl,
td.records-input-ttl,
td.records-input-ttl input,
td.records-value-ttl {
  width:60px;
}

td.records-value-ttl {
  padding-right:10px;
}


/* Disable */
th.records-head-disabled
td.records-input-disabled,
td.records-input-disabled input,
td.records-value-disabled {
  width:60px;
}

td.records-value-disabled {
  padding-right:10px;
}

